<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706076862581-9q3rtq55e1e3a7bt21illkndc6uobac4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706076862581-9q3rtq55e1e3a7bt21illkndc6uobac4</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTRtjxevcA6-P-LMWdJYoyn5Z5kkzguU</string>
	<key>GCM_SENDER_ID</key>
	<string>706076862581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testfire.base.testfirebase</string>
	<key>PROJECT_ID</key>
	<string>test-app-19973</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-19973.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706076862581:ios:b1b55b34c2594fe7c3303c</string>
</dict>
</plist>